<div class="header">
    <div class="color">
        <div class="l1c8t8ro f1swfyax lmcgirf">
            <div class="wmfq8xk">
                <a href="/" class="a1d7eymq">
                    <i class="icon-logo  i1kwkbx9" size="48" style="--i1kwkbx9-0:inherit;--i1kwkbx9-1:48px">Chodify</i>
                </a>
            </div>
        </div>
        <div class="container-1">
            <span class="icon"><i class="fa fa-search"></i></span>
            <input type="search" id="search" placeholder="Search Any Song.." />
        </div>

        <div class="container-2">
            <a class="button">UPLOAD SONG</a>
        </div>
        <div class="container-2">
            <a class="button">DISCOVER</a>
        </div>
        <div class="container-2">
            <a class="button">MY MUSIC PROFILE</a>
        </div>
        <div class="container-2">
            <a class="button">:</a>
        </div>
        @Html.Partial("~/Views/Shared/_LoginPartial.cshtml")

    </div>
</div>

<style>
    
</style>