body{
  background: none;
}
div {
        display: block;
    }
    .header {
        left: 0;
        pointer-events: none;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 10;
    }
    .header > * {
        pointer-events: auto;
    }
    .color {
        background-color: #996681;
        color: #fff;
        height: 45px;
        position: relative;
    }
    .l1c8t8ro.f1swfyax {
        text-align: center;
    }
    .lmcgirf {
        width: 16%;
    }
    .f1swfyax {
        float: left;
    }
    .wmfq8xk {
        height: 45px;
    }
    .a1d7eymq {
        margin-left: -5px;
        position: relative;
        text-decoration: none;
    }
    .a1d7eymq.a1d7eymq {
        color: #fff;
    }
    .i1kwkbx9 {
        color: var(--i1kwkbx9-0);
        display: inline-block;
        font-size: var(--i1kwkbx9-1);
        text-decoration: none;
        vertical-align: middle;
    }
    .icon-logo {
        font-family: icons !important;
        font-style: normal;
        font-weight: 400 !important;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
    }
.box{
  margin: 100px auto;
  width: 300px;
  height: 50px;
}

.container-1 input#search{
  width: 300px;
  height: 45px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  /*-ms-transition: background .55s ease;*/
  -o-transition: background .55s ease;
  transition: background .55s ease;
}
.container-1 input#search::-webkit-input-placeholder {
   color: #65737e;
}
 
.container-1 input#search:-moz-placeholder { 
   color: #65737e;  
}
 
.container-1 input#search::-moz-placeholder {  
   color: #65737e;  
}
 
.container-1 input#search:-ms-input-placeholder {  
   color: #65737e;  
}
.container-1 .icon {
    position: absolute;
    top: auto;
    margin-left: 17px;
    margin-top: 17px;
    z-index: 1;
    color: #4f5b66;
}
.container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
    outline:none;
    background: #ffffff;
}
.container-2 {
    float: left;
    left: 50px;
    max-width: 15%;
    display: inline-block;
    height: 45px;
    position: relative;
}
.button {
    background-color: #004A7F;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    font-size: 20px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
}
@-webkit-keyframes glowing {
    0% {
        background-color: #004A7F;
        -webkit-box-shadow: 0 0 3px #004A7F;
    }

    50% {
        background-color: #0094FF;
        -webkit-box-shadow: 0 0 10px #0094FF;
    }

    100% {
        background-color: #004A7F;
        -webkit-box-shadow: 0 0 3px #004A7F;
    }
}

@-moz-keyframes glowing {
    0% {
        background-color: #004A7F;
        -moz-box-shadow: 0 0 3px #004A7F;
    }

    50% {
        background-color: #0094FF;
        -moz-box-shadow: 0 0 10px #0094FF;
    }

    100% {
        background-color: #004A7F;
        -moz-box-shadow: 0 0 3px #004A7F;
    }
}

@-o-keyframes glowing {
    0% {
        background-color: #004A7F;
        box-shadow: 0 0 3px #004A7F;
    }

    50% {
        background-color: #0094FF;
        box-shadow: 0 0 10px #0094FF;
    }

    100% {
        background-color: #004A7F;
        box-shadow: 0 0 3px #004A7F;
    }
}

@keyframes glowing {
    0% {
        background-color: #004A7F;
        box-shadow: 0 0 3px #004A7F;
    }

    50% {
        background-color: #0094FF;
        box-shadow: 0 0 10px #0094FF;
    }

    100% {
        background-color: #004A7F;
        box-shadow: 0 0 3px #004A7F;
    }
}

.button {
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
    height: 45px;
}
.button >*{
    color: aliceblue;
}



